<div class="container">
  <div class="header">
    <h2>Benvenuto/a, {{ username }}.</h2>
  </div>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
  <p class="main-title">Organizza le tue attività quotidiane:</p>

  <!-- Sezione Aggiungi Task -->
  <section class="add-task-section">
    <h3 class="section-title small">Aggiungi un nuovo task</h3>
    <div class="add-task">
      <input type="text" [(ngModel)]="newTaskTitle" placeholder="Nuovo task">
      <button (click)="addTask()">Aggiungi</button>
    </div>
  </section>

  <!-- Sezione Lista Task -->
  <section class="task-list-section">
    <h3 class="section-title small">I tuoi task</h3>
    <div class="task-list">
      <ul>
        <li *ngFor="let task of tasks" [class.completed]="task.completed">
          <input type="checkbox"
                 [checked]="task.completed"
                 (change)="toggleCompletion(task)">
          <span class="title">{{ task.title }}</span>
          <button class="delete-btn" (click)="deleteTask(task)">×</button>
        </li>
      </ul>
    </div>
  </section>

  <!-- Logout -->
  <button class="logout-btn" (click)="logout()">Logout</button>
</div>
